.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainContent {
  display: flex;
  height: calc(100vh - 100px);
}


.left-panel {
  height: 100%;
  min-width: 200px;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.workspace {
  height: 100%;
  width: 75%;
  /*padding: 30px;*/
  background: grey;
  overflow: scroll;
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #000;
  position: relative;
  margin: 10px;
}

.zoom-level {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #dcf1fa82;
  padding: 5px 10px;
}
